<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Karma | Capture and Upload</title>
    <link rel="stylesheet" href="../static/styles.css" />
    </head>
    <body>
        <h1>Capture</h1>
        <div class="upload-container">
            <input type="file" id="image-upload" accept="image/*" style="opacity: 0;">
            <label for="image-upload" class="upload-button">Upload Image</label>   
        </div>
        <div class="camera-container">
            <input type="file" id="camera-upload" accept="image/*" capture="camera" style="opacity: 0;">
            <label for="camera-upload" class="camera-button">Use Camera</label>    
        </div>
        <div class="navbar">
            <ul>
                <li><a href="quests.html" class="button"><img src="../static/QUESTSBLACK.png" alt="quests"></a></li>
                <li><a href="leaderboard.html" class="button"><img src="../static/duooo.png" alt="leaderboard"></a></li>
                <li><a href="capture.html" class="button largebutton"><img src="../static/BLACKADD.png" alt="capture"></a></li>
                <li><a href="profile.html" class="button"><img src="../static/PROFILEBLACK.png" alt="profile"></a></li>
            </ul>
        </div>
    </body>
</html>
