<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karma | Friends</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<h1>Friends</h1>
<br>
<div class="leaderboard">
    <div class="entry">
        <p class="placement">1</p>
        <div class="info">
            <p class="user">Andrew Dye</p>
            <p class="points">27401 points</p>
        </div>
    </div>
    <div class="entry">
        <p class="placement">2</p>
        <div class="info">
            <p class="user" style="margin-bottom: 5px;">Mr Wang</p>
            <p class="points" style="font-size: 17px; margin-top: 0px;">15401 points</p>
        </div>
    </div>
    <div class="entry">
        <p class="placement">2</p>
        <div class="info">
            <p class="user" style="margin-bottom: 5px;">Mr Wang</p>
            <p class="points" style="font-size: 17px; margin-top: 0px;">15401 points</p>
        </div>
    </div>
    <div class="entry">
        <p class="placement">2</p>
        <div class="info">
            <p class="user" style="margin-bottom: 5px;">Mr Wang</p>
            <p class="points" style="font-size: 17px; margin-top: 0px;">15401 points</p>
        </div>
    </div>
    <div class="entry">
        <p class="placement">2</p>
        <div class="info">
            <p class="user" style="margin-bottom: 5px;">Mr Wang</p>
            <p class="points" style="font-size: 17px; margin-top: 0px;">15401 points</p>
        </div>
    </div>
    <div class="entry">
        <p class="placement">2</p>
        <div class="info">
            <p class="user" style="margin-bottom: 5px;">Mr Wang</p>
            <p class="points" style="font-size: 17px; margin-top: 0px;">15401 points</p>
        </div>
    </div>
    <div class="entry">
        <p class="placement">2</p>
        <div class="info">
            <p class="user" style="margin-bottom: 5px;">Mr Wang</p>
            <p class="points" style="font-size: 17px; margin-top: 0px;">15401 points</p>
        </div>
    </div>
</div>
<div class="addfriendsbutton">
    <h2><a href="add_friend"><img src="../static/duooo.png" alt="Add Friends"> Add Friends</a></h2>
</div>
<div class="navbar">
    <ul>
        <li><a href="quests" class="button"><img src="../static/QUESTSBLACK.png" alt="quests"></a></li>
        <li><a href="friends" class="button"><img src="../static/duooo.png" alt="leaderboard"></a></li>
        <li><a href="capture" class="button largebutton"><img src="../static/BLACKADD.png" alt="capture"></a></li>
        <li><a href="profile" class="button"><img src="../static/PROFILEBLACK.png" alt="profile"></a></li>
    </ul>
</div>
</body>
</html>
