<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <title>Karma | Login</title>
    <link rel="stylesheet" href="../static/styles.css"/>
</head>
<body>
<h1>(logo) Karma</h1>
<div class="loginbutton">
    test
</div>
<div class="navbar">
    <ul>
        <li><a href="quests" class="button"><img src="../static/QUESTSBLACK.png" alt="quests"></a></li>
        <li><a href="friends" class="button"><img src="../static/duooo.png" alt="leaderboard"></a></li>
        <li><a href="capture" class="button largebutton"><img src="../static/BLACKADD.png" alt="capture"></a></li>
        <li><a href="profile" class="button"><img src="../static/PROFILEBLACK.png" alt="profile"></a></li>
    </ul>
</div>
<div id="user-data">
    <p>Loading user data...</p>
</div>
<script src="../static/loadUserData.js"></script>
</body>
</html>
