<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device=width-device, initial-scale=1.0, viewport-fit=cover">
    <title>Karma | Onboarding</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Welcome to Karma!</h1>
    <div class="onboard">
        <p><b>Karma</b> encourages people to do better in their everyday lives by challenging them to record <b>little, positive actions</b>, and then "nominate" their friends, passing it on.</p>
        <p>Imagine like Snapchat, but instead of selfies and filters, <b>it's self-care and environmental conservation</b> (trust me, this is so much cooler than it sounds...)</p>
        <p><b>Karma</b> works with a network of your friends to nominate and strive to do better than - <b>let's add your first friend on Karma!</b></p>
        <h2><a href="onboarding_pg1">CLICK HERE!!</a></h2>
    </div>
</body>
</html>
