<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karma | Onboarding</title>
</head>
<body>
<h1>Welcome to Karma!</h1>
<p>Karma encourages people to do better in their everyday lives by challenging them to record little positive actions,
    and then "nominate" their friends, passing it on.</p>
<p>Imagine like Snapchat, but instead of selfies and filters, it's self-care and environmental conservation (trust me,
    this is so much cooler than it sounds...)</p>
<p>Karma works with a network of your friends to nominate and strive to do better than - let's add your first friend on
    Karma!</p>
<a href="onboarding_pg1">CLICK HERE!!</a>
</body>
</html>