<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karma | Profile</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Profile</h1>
    <br>
    <div class="profile">
        <h2>Username</h2>
        <h3>Total Karma: 10 limbillion</h3>
    </div>
    <div class="last9images">
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        <div class="image"><img src="../static/QUESTSBLACK.png" alt="image"></div>
        </div>
    <div class="navbar">
        <ul>
            <li><a href="index.html" class="button"><img src="../static/QUESTSBLACK.png" alt="quests"></a></li>
            <li><a href="leaderboard.html" class="button"><img src="../static/LEADERBLACK.png" alt="leaderboard"></a></li>
            <li><a href="capture.html" class="button largebutton"><img src="../static/BLACKADD.png" alt="capture"></a></li>
            <li><a href="videos.html" class="button"><img src="../static/VIDEOBLACK.png" alt="videos"></a></li>
            <li><a href="profile.html" class="button"><img src="../static/PROFILEBLACK.png" alt="profile"></a></li>
        </ul>
    </div>
</body>
</html>
